.text-box h3:first-of-type {
  color: pink;
}

.text-box #greycol {
  color: grey;
}

.text-box div p {
  color: red;
}

.text-box .red {
  color: rgb(238, 8, 8);
}
.text-box .green {
  color: rgb(0, 255, 42);
}

.text-box .yellow {
  color: rgb(255, 255, 0);
}
/* Кольори для кожного дня */
.monday li {
  color: rgb(236, 34, 34);
}

.tuesday li {
  color: rgb(255, 40, 173);
}

.wednesday li {
  color: rgb(251, 255, 0);
}

.thursday li {
  color: rgb(0, 225, 255);
}

.friday li {
  color: rgb(255, 145, 0);
}

.schedule li:hover {
  font-weight: bold;
  text-decoration: underline;
}

.schedule li:focus {
  outline: 2px solid black;
}

.schedule li:active {
  color: rgb(255, 0, 0);
}

.schedule li:first-child {
  background-color: rgb(86, 14, 100);
}

.schedule li:last-child {
  background-color: rgb(92, 116, 8);
}

.schedule li:nth-child(2) {
  background-color: rgb(26, 116, 15);
}

.schedule ul:nth-of-type(odd) li {
  border: 1px dashed rgb(128, 128, 128);
}

.schedule ul:nth-of-type(even) li {
  border: 1px solid black;
}
